# Ignore the .git directory
.git

# Ignore node_modules if you have them (e.g., if you are using Node.js for front-end)
node_modules

# Ignore any temporary files and folders
tmp/
temp/
*.tmp
*.log

# Ignore the build output directories
bin/
obj/
